body {
  margin: 0 auto;
  box-sizing: border-box;
  color: #2E1B0E;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  background-color: white;
  font-family: 'Manrope';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1332px;
}

a {
  color: #2E1B0E;
  text-decoration: none;
}

a:hover {
  color: #740909;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

